__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
Untitled*.ipynb
.venv/
venv/
.jupyter/
.ipython/

data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

*.sqlite
*.db
*.log
